.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}
ul.todos{
  padding: 0;
  list-style-type: none;
  min-height: 300px;
}
ul.todos li{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  cursor: pointer;
  min-width: 250px;
}
li:hover span.cross:after{
  content: '\02A2F';
  color: red;
  font-size: 18px;
  float: right;
  margin-right: 5px;
}
li.completed{
text-decoration: line-through;
}
 span.completed:after{
  content: '\02713';
  font-size: 28px;
  padding: 4px;
  color:green;
}

 span.uncomplete:after{
  content: '\025A1';
  font-size: 28px;
  padding: 4px;
}

.container{
  margin-top:10px;
  display: flex;
  flex-flow: column;
  border: 0px solid red;
  align-items: center;
}
li:last-child{
  border:0px;
}

ul.menu li{
  display:inline-block;
  min-width: 120px;
}
ul.menu li a{
  font-size: .95em;
  color: #fff;
  padding: 1em;
  transition: .2s;
  text-decoration: none;
}

ul.menu li a:hover,
ul.menu li a:active
{
padding:1em;
color: rgb(255, 0, 212);
background-color: rgb(5, 121, 253);
text-decoration: underline;
}
 
ul.menu a.active{
  color: rgb(255, 0, 212);
  text-decoration: none;
  
}